# Cloudflare
CLOUDFLARE_API_KEY=
ZONE=
SUBDOMAIN=
TUNNEL_TOKEN=

# Tailscale
TAILNET_IP=
PIHOLE_API_PASSWORD=

# CWA Hardcover
HARDCOVER_TOKEN=

# SSD Fileshare
SAMBA_PASSWORD=

# Wireguard
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESS=
VPN_SERVER_COUNTRY=