SPARKY_FITNESS_DB_NAME=
SPARKY_FITNESS_DB_USER=
SPARKY_FITNESS_DB_PASSWORD=
SPARKY_FITNESS_APP_DB_USER=
SPARKY_FITNESS_APP_DB_PASSWORD=
SPARKY_FITNESS_DB_HOST=
SPARKY_FITNESS_SERVER_HOST=
SPARKY_FITNESS_SERVER_PORT=
SPARKY_FITNESS_FRONTEND_URL=
ALLOW_PRIVATE_NETWORK_CORS=
SPARKY_FITNESS_LOG_LEVEL=
NODE_ENV=
TZ=
SPARKY_FITNESS_API_ENCRYPTION_KEY=
BETTER_AUTH_SECRET=
SPARKY_FITNESS_DISABLE_SIGNUP=
SPARKY_FITNESS_ADMIN_EMAIL=
SPARKY_FITNESS_FORCE_EMAIL_LOGIN=true
SPARKY_FITNESS_MCP_PORT=3001
