{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(ts_host) {
	@blocked not remote_ip 100.107.83.0/24

	respond @blocked "Unauthorized" 403
}

vault.vathzen.in {
	import ts_host
	reverse_proxy vaultwarden:80
}

calibre.vathzen.in {
	import ts_host
	reverse_proxy calibre-web:8083
}
