services:
  cloudflare-ddns-home:
    image: oznu/cloudflare-ddns:latest
    container_name: cloudflare-ddns-home
    restart: unless-stopped
    environment:
      - API_KEY=${CLOUDFLARE_API_KEY}
      - ZONE=${ZONE}
      - SUBDOMAIN=${SUBDOMAIN}
      - PROXIED=false
 
  caddy:
    image: caddybuilds/caddy-cloudflare:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_KEY}
      - TAILNET_IP=${TAILNET_IP}    
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./containers/caddy/caddy_data:/data
      - ./containers/caddy/caddy_config:/config
    networks: [internal]

  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - ./containers/vaultwarden:/data
    networks: [internal]
    ports:
      - "8080:80"

  calibre-web:
    image: linuxserver/calibre-web:latest
    container_name: calibre-web
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Helsinki
    volumes:
      - ./containers/calibre/calibre-config:/config
      - ./containers/calibre/books:/books
    networks: [internal]
    ports:
     - "8083:8083"

  #cloudflare-tunnel
  #  container_name: cloudflare-tunnel
  #  image: cloudflare/cloudflared
  #  restart: unless-stopped
  #  command: tunnel run
  #  environment:
  #   - TUNNEL_TOKEN=${TUNNEL_TOKEN}
  #  networks: [internal]
   
networks:
  internal:
    driver: bridge

