{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

vault.vathzen.in {
	reverse_proxy vaultwarden:80
}

calibre.vathzen.in {
	reverse_proxy calibre-web:8083
}

http://calibre.vathzen.in {
    reverse_proxy calibre-web:8083
}

shelfmark.vathzen.in {
	reverse_proxy shelfmark:8084
}

pdf.vathzen.in {
	reverse_proxy stirling-pdf:8080
}

prom.vathzen.in {
	reverse_proxy prometheus:9090
}

grafana.vathzen.in {
	reverse_proxy grafana:3000
}

pi.vathzen.in {
	reverse_proxy pihole:80
}

kite-mcp.vathzen.in {
	reverse_proxy localhost:7070
}

sonarr.vathzen.in {
    reverse_proxy sonarr:8989
}

radarr.vathzen.in {
    reverse_proxy radarr:7878
}

prowlarr.vathzen.in {
    reverse_proxy prowlarr:9696
}

qbit.vathzen.in {
    reverse_proxy qbittorrent:8082
}
